body {
    background-color: #756f95;
    margin-top: 10px;
    background-image: url("https://cdn5.vectorstock.com/i/1000x1000/86/04/newspaper-paper-background-with-space-for-text-vector-20998604.jpg");
}

.searchPar {
    background-color: darkblue !important;
}

.panel-heading {
    color: white;
    font-weight: 400px;
}

.panel-title {
    color: white;
    font-weight: 400px;
}

.ccjumbo {
    background-color: rgba(63, 138, 199, 0.678);
    color: white;
    font-weight: 400px;
}

.button {
    border-radius: 4px;
    background-color: #4f84e6;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button-span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button-span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button-hoverspan {
    padding-right: 25px;
  }
  
  .button-hoverspan:after {
    opacity: 1;
    right: 0;
  }

  a:hover {
    background-color: yellow;
  }
  